
// For first version of template
//$main-width: 1600px;
//
//html {
//    min-height: 100%;
//}
//
//body {
//    height: 100%;
//    background-color: $grey-1;
//}
//
//.main-page {
//    box-sizing: border-box;
//    max-width: $main-width;
//    height: 100%;
//    margin: 0 auto;
//    box-shadow: 0 5px 40px 20px rgba(0,0,0, .15);
//
//    .container-fluid {
//        height: 100%;
//    }
//
//    .row {
//        height: 100%;
//    }
//
//    &__sidebar {
//        min-height: 100%;
//    }
//
//    &__main-content {
//        padding-top: 30px;
//
//        @include media-breakpoint-up(lg) {
//            padding-top: 300px;
//        }
//    }
//
//    &__sub-info {
//        padding-top: 300px;
//        padding-right: 0;
//    }
//}

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    background-color: $main-page-outer-bg-color;
    font-family: $font--roboto;
}

body, html {
    padding: 0;
    margin: 0;
}

.main-page {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: $main-grey-color;

    .container-fluid {
        height: 100%;
    }

    &__flex {
        flex-direction: row;
        justify-content: flex-start;
    }

    &__content {
        display: flex;
        justify-content: center;
        background-color: $main-page-inner-bg-color;
        box-shadow: 0 2px 5px 0 rgba(74,74,74, .1);

        @media screen and (min-width: 768px) {
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            width: calc(100% - 300px);
            height: auto;
        }
    }

    &__mobile-primary-nav-menu {
        position: fixed;
        height: 43px;
        width: 100%;
        z-index: 15;
    }

    &__footer {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}
