@charset "utf-8";

@import 'set/reset';
@import 'set/var';
@import 'set/mixin';
@import 'set/font';
@import 'set/common';
@import 'set/grid';

@import "../../bower_components/bootstrap/scss/bootstrap.scss";


/* block:scss */
@import 'block/block';
@import 'block/main-page';
@import 'block/components/announce-card';
@import 'block/components/card-about';
@import 'block/components/card-events';
@import 'block/components/contacts-menu';
@import 'block/components/count-of-announce';
@import 'block/components/footer';
@import 'block/components/head-list';
@import 'block/components/inner-sidebar-list';
@import 'block/components/link-tag';
@import 'block/components/main-content';
@import 'block/components/main-sidebar-lists';
@import 'block/components/menu-link';
@import 'block/components/post';
@import 'block/components/primary-content';
@import 'block/components/secondary-card-caption';
@import 'block/components/sidebar';
@import 'block/components/sub-info';
@import 'block/components/text-link';
@import 'block/components/visuallyhidden';
@import 'block/components-2/addition-primary-list';
@import 'block/components-2/article-link';
@import 'block/components-2/articles-module';
@import 'block/components-2/btn-more';
@import 'block/components-2/card-info';
@import 'block/components-2/contacts';
@import 'block/components-2/echo';
@import 'block/components-2/genre-tabs';
@import 'block/components-2/hamburger';
@import 'block/components-2/istu-footer';
@import 'block/components-2/lazysizes';
@import 'block/components-2/link-news';
@import 'block/components-2/list-content';
@import 'block/components-2/main-heading';
@import 'block/components-2/main-link';
@import 'block/components-2/main-menu';
@import 'block/components-2/mobile-primary-nav-menu';
@import 'block/components-2/page-title';
@import 'block/components-2/post';
@import 'block/components-2/primary-content';
@import 'block/components-2/primary-nav-menu';
@import 'block/components-2/secondary-content';
@import 'block/components-2/secondary-link';
@import 'block/components-2/secondary-nav-menu';
@import 'block/components-2/section-heading';
@import 'block/components-2/section-text';
@import 'block/components-2/social-info';
@import 'block/components-2/time-card';
@import 'block/plugins/jquery.mCustomScrollbar';
@import 'block/plugins/perfect-scrollbar';
/* endinject */


