// main fonts family - Open sans + Helvetica Neue + Roboto-slab
$roboto-slab: "Roboto Slab", "Helvetica Neue", Arial, serif;
$helvetica: "Helvetica Neue", Arial, sans-serif;
$open-sans: "Open Sans", "Helvetica Neue", Arial, sans-serif;

// main theme colours
$main-theme-1: #FCFFF5;
$main-theme-2: #D1DBBD;
$main-theme-3: #91AA9D;
$hover-link: #67917b;
$main-theme-4: #3E606F;
$main-theme-5: #193441;

// colours
$white-color: #fff;
$black-color: #000;

// font-size
$xxs-size: 13px;
$xs-size: 14px;
$default-size: 16px;
$s-size: 18px;
$m-size: 20px;
$xl-size: 24px;
$xxl-size: 32px;


$grey-1: #f1f1f5;
$grey-2: #636769;
$grey-3: #AAB3B6;
$grey-4: #6E7476;
$grey-5: #4B4E50;

$grey-6: #e1e4d9;
$grey-7: #535658;
