.announce-card {
    box-sizing: border-box;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(33, 33, 33, .2);
    background-color: $grey-6;

    &__heading {
        display: block;
        padding-bottom: 5px;
        border-bottom: 1px solid $grey-7;
    }

    &__title {
        position: relative;
        display: inline-block;
        font-size: 13px;
        margin: 0;
        color: $grey-7;
        text-transform: uppercase;
    }

    &__count-of-announce {
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
    }

    &__body {
        box-sizing: border-box;
        display: block;
    }

    &__heading + &__body {
        margin-top: 20px;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        display: block;
        list-style: none;

        & + & {
            margin-top: 20px;

            @include media-breakpoint-up(sm) {
                margin-top: 10px;
            }
        }
    }

    &__description-link {
        display: block;
        font-size: 14px;
        line-height: 1.3;
        color: $grey-4;
        text-decoration: underline;
        transition: all .15s ease-in-out;

        &:hover {
            color: $grey-3;
        }
    }
}
