//.count-of-announce {
//    box-sizing: border-box;
//    display: inline-block;
//    padding-top: 3px;
//    width: 22px;
//    height: 22px;
//    color: $grey-1;
//    font-size: 13px;
//    background-color: $grey-2;
//    border-radius: 50%;
//    text-align: center;
//}
