.head-list {
    box-sizing: border-box;
    display: block;
    padding: 0 20px;

    &__item {
        display: block;
        list-style: none;

        & + & {
            margin-top: 40px;
        }
    }

    &__container {
        position: relative;
        display: block;
    }

    &__preview-head {
        display: block;
        width: 90px;
        height: 90px;
    }

    &__preview-head-img {
        max-width: 100%;
        height: auto;

        &--circle-img {
            border-radius: 50%;
        }
    }

    &__description {
        color: $grey-1;
    }

    &__description-link {
        display: inline;
        color: $grey-3;
        text-decoration: none;
        border-bottom: 1px solid $grey-3;
        transition: all .2s ease-in-out;

        &:hover {
            color: $grey-4;
            border-bottom: 1px solid transparent;
            text-decoration: none;
        }
    }

}
