.inner-sidebar-list {
    list-style-type: none;

    &__item {
        box-sizing: border-box;
        display: block;
        background-color: transparent;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: $grey-1;
        }

        & + & {
            margin-top: 10px;
        }
    }

    &__link {
        display: block;
    }
}
