.sidebar {
    box-sizing: border-box;
    padding: 10px 20px 30px;
    display: block;
    background-color: $grey-7;

    @include media-breakpoint-up(sm) {
        padding: 40px 20px 30px;
    }

    @include media-breakpoint-up(xl) {
        max-width: 19%;
        flex: 0 0 19%;
    }

    &__heading {
        display: block;
    }

    &__logo {
        display: none;
        max-width: 100%;
        max-height: 200px;
        overflow: hidden;
        text-align: center;

        @include media-breakpoint-up(sm) {
            display: block;
        }
    }

    &__logo + &__title {
        margin-top: 0;

        @include media-breakpoint-up(sm) {
            margin-top: 20px;
        }
    }

    &__image {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        display: block;
        max-width: 230px;
        width: 80%;
        text-align: center;
        color: $grey-1;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        margin: 0 auto 30px;

        @include media-breakpoint-up(md) {
            font-size: 16px;
        }
    }

    &__title + &__footer-info {
        margin-bottom: 30px;
    }

    &__footer-info {
        display: block;
        width: 100%;
    }

    &__section {
        position: relative;
        box-sizing: border-box;
        display: block;
    }

    &__menu-list {
        box-sizing: border-box;
        display: block;
        list-style-type: none;
    }
}
