<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>istu</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="svg/js-sprite.js"></script>
    <script src="js/plugins/polyfill.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Slab:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
</head>
<body>

    <div class="card-events">
        <div class="card-events__container">
            <div class="card-events__caption secondary-card-caption">
                Мероприятия
            </div>
            <div class="card-events__body">

                <div class="card-events__item">
                    <div class="card-events__content">

                        <div class="card-events__date">
                            26&nbsp;апреля, 18:10
                        </div>

                        <div class="card-events__title card-events__title--ann">
                            <a href="https://cs.hse.ru/big-data/tcs-lab/announcements/205015037.html" class="card-events__text-link text-link text-link--dark2 no-visited">
                                Семинар лаборатории теоретической информатики: "Верхняя оценка на взаимную информацию через ранг матрицы совместного распределения". Докладчик: А. Рязанов
                            </a>
                        </div>

                    </div>
                </div>

                <div class="card-events__btn-link link-tag" style="margin-top: 1em;">
                    <a class="link-tag__text link-tag__text--large" href="#" title="Все мероприятия">Все мероприятия</a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
