<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>istu</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="svg/js-sprite.js"></script>
    <script src="js/plugins/polyfill.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Slab:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
</head>
<body>

<div class="card-about">
    <div class="card-about__container">
        <div class="card-about__caption secondary-card-caption secondary-card-caption--main-theme-3">
            <a href="#" class="secondary-card-caption__link">О факультете</a>
        </div>
        <div class="card-about__body">

            <div class="card-about__item">
                <div class="card-about__content">

                    <div class="card-about__title">
                        <p class="card-about__description">
                            Семинар лаборатории теоретической информатики: "Верхняя оценка на взаимную информацию через ранг матрицы совместного распределения". Докладчик: А. Рязанов
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
