<div class="card-info card-info--program">
    <div class="card-info__heading">
        <h2 class="card-info__heading-text section-heading">Программы</h2>
        <a href="#" class="card-info__archive-news">
            <span class="card-info__archive-text card-info__archive-text--desktop">Архив программ</span>
            <span class="card-info__archive-text card-info__archive-text--mobile">Архив</span>

            <figure class="card-info__arrow-icon">
                <svg class="card-info__svg-arrow-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="3" height="6" viewBox="0 0 3 6">
                    <path d="M2.341,3.653 L2.340,3.653 L0.000,5.993 L0.000,4.688 L1.688,3.000 L0.000,1.312 L0.000,0.007 L2.993,3.000 L2.341,3.653 Z"/>
                </svg>
            </figure>
        </a>
    </div>
    <div class="card-info__category">
        <p class="card-info__category-name">Программа бакалавра</p>
    </div>
    <h3 class="card-info__title">
        Многоканальные телекоммуникационные системы (МТС)
    </h3>
    <div class="card-info__information-module">
        <ul class="card-info__info-list">
            <li class="card-info__info-item">
                <span class="card-info__item-title">4 года</span>
                <span class="card-info__item-description">Очная форма обучения</span>
            </li>
            <li class="card-info__info-item">
                <span class="card-info__item-title">38(4 и 4)</span>
                <p class="card-info__item-description">38 бюджетных мест</p>
                <p class="card-info__item-description">4 с особыми правами</p>
                <p class="card-info__item-description">4 по направлению от предприятия(ий)</p>
            </li>
        </ul>
    </div>
</div>
