.articles-module {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    &__list {
        position: relative;
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    &__item {
        list-style: none;

        & + & {
            margin-top: 40px;
        }
    }

    &__list + &__btn-wrapper {
        margin-top: 30px;
    }

    &__btn-wrapper {
        //display: flex;
        display: block;
        text-align: center;
        width: 100%;
        max-width: 800px;
        padding-bottom: 50px;
        //flex-direction: row;
        //justify-content: center;
    }
}
