.contacts {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        opacity: .7;
        cursor: pointer;
        max-width: 100%;
        width: 100%;

        &:hover {
            opacity: 1;
        }

        & + & {
            margin-top: 10px;
        }

        &--has-text {
            cursor: default;
        }
    }

    &__item:hover &__item-svg {
        fill: $white-color;
    }

    &__item:hover &__link {
        color: $white-color;
    }

    &__item:hover &__text {
        color: $white-color;
    }

    &__item-icon {
        width: auto;
        height: auto;
    }

    &__item-svg {
        fill: $main-light-grey-color;
    }

    &__item-icon + &__link {
        margin-left: 17px;
    }

    &__item-icon + &__text {
        margin-left: 17px;
    }

    &__item:nth-of-type(2) &__link {
        padding-top: 4px;
    }

    &__link {
        box-sizing: border-box;
        padding-top: 2px;
        font-size: 11px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        color: $main-light-grey-color;
        text-decoration: none;
        letter-spacing: 0.056em;
    }

    &__text {
        box-sizing: border-box;
        display: block;
        padding-top: 2px;
        font-size: 11px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.036em;
        color: $main-light-grey-color;
    }

}
