$istu-footer-link-border-color: rgba(255, 255, 255, .1);

.istu-footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0;
    margin-bottom: 30px;
    border-top: 1px solid $border-nav-menu-divider-color;

    &__copyright-module {
        display: block;
    }

    &__copyright-sign {
        display: block;
        width: 100%;
        max-width: 160px;
        font-size: 10px;
        line-height: 20px;
        font-weight: 400;
        color: $main-light-grey-color;
        text-transform: uppercase;
        letter-spacing: 0.036em;
    }

    &__copyright-module + &__sub-info {
        margin-top: 10px;
    }

    &__sub-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
    }

    &__link {
        box-sizing: border-box;
        display: block;
        font-size: 10px;
        line-height: 16px;
        text-transform: uppercase;
        color: $main-light-grey-color;
        text-decoration: none;
        border-bottom: 1px solid $main-light-grey-color;

        &:hover {
            color: $white-color;
            text-decoration: none;
            border-bottom: 1px solid transparent;
        }

        & + & {
            margin-left: 20px;
        }

    }

}
