.list-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;

    &__section {
        display: flex;
        flex-direction: column;

        &--row-from-md {
            flex-direction: column;

            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }
        }
    }
}
