.post {
    box-sizing: border-box;
    font-family: $font--roboto;

    &__preview {
        position: relative;
        width: 360px;
        height: 225px;
        overflow: hidden;

        &:before {
            display: block;
            content: '';
            width: 100%;
            padding-bottom: 62.5%;
            overflow: hidden;
            background-color: $placeholder-bg-color;
        }
    }

    &__preview-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__information {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        max-width: 430px;
        padding: 0 25px 0 40px;
        flex-direction: column;
        justify-content: space-between;
    }

    &__time-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        color: $main-light-grey-color;
    }

    &__data {
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
    }

    &__time {
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
    }

    &__time-info + &__head {
        margin-top: 16px;
    }

    &__head {
        display: block;
    }

    &__head + &__description {
        margin-top: 16px;
    }

    &__heading {
        display: block;
    }

    &__heading-link {
        display: block;
    }

    &__description {
        display: block;
    }

    &__description-text {  }

    &--news {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
