$vertical-gutter: 50px;
$horizontal-gutter: 30px;

.primary-content {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    //height: auto;
    //display: flex;
    //flex-direction: column;
    //align-items: flex-start;
    //flex: 1 50%;
    max-width: 50%;
    padding: 0 $horizontal-gutter;
    border-right: 1px solid $border-section-divider;

    &__genre {
        display: block;
    }

    &__genre + &__body {
        margin-top: 26px;
    }

    &__body {
        position: relative;
        width: 100%;
        height: 100%;
    }
}
