.primary-nav-menu {
    box-sizing: border-box;
    position: relative;
    display: flex;
    max-width: 300px;
    min-width: 300px;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: $main-nav-menu-bg-color;

    &__main-info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 1px solid $border-contacts-divider-color;
    }

    &__addition-info {
        display: flex;
        flex-direction: column;
    }

    &__main-info + &__addition-info {
        margin-top: 35px;
    }

    &__about {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    &__logo {
        width: 43px;
        height: 72px;
    }

    &__logo-img {
        max-width: 100%;
        height: auto;
    }

    &__heading {
        box-sizing: border-box;
        position: relative;
        max-width: 170px;
    }

    &__main-info + &__contacts-list {
        margin-top: 30px;
    }

    &__title {
        box-sizing: border-box;
        max-width: 100%;
        word-spacing: 1px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    &__social-info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__contacts-list {
        position: relative;
        width: 100%;
        max-width: 100%;
    }
}
