.secondary-nav-menu {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
    padding: 30px 22px 30px 25px;
    box-shadow: 0 3px 6px 0 rgba(74,74,74, .15);
    background-color: $white-color;
    z-index: 100;

    &__main-menu {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__list-item {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex: 1 auto;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
        align-content: center;

        & + & {
            margin-left: 47px;
        }
    }

    &__list-item:nth-of-type(1) &__item-icon {
        top: 6px;
    }

    &__list-item:nth-of-type(4) &__item-icon {
        top: 5px;
    }

    &__list-item:hover &__item-icon {
        opacity: 1;
    }

    &__item-icon {
        position: absolute;
        top: 7px;
        left: 0;
        opacity: .3;
        transition: opacity .15s ease-in-out;
    }

    &__item-svg {
        display: block;
        max-width: 20px;
        max-height: 15px;
    }

    &__item-link {
        box-sizing: border-box;
        position: relative;
        padding-left: 25px;
    }

    &__personal-account {
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
        align-content: center;
    }

    &__personal-account:hover &__item-icon {
        opacity: 1;
    }
}
