$vertical-gutter: 30px;
$horizontal-gutter: 30px;

.secondary-content {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //flex-wrap: nowrap;
    //flex: 1 50%;
    width: 100%;
    max-width: 50%;
    padding: $vertical-gutter $horizontal-gutter;


    &:before {
        position: absolute;
        content: '';
        top: 30px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: #a0a0a0;
        background: -moz-linear-gradient(bottom, #f8f8fa  0%, rgba(255,255,255, 0) 100%);
        background: -webkit-linear-gradient(bottom, #f8f8fa  0%, rgba(255,255,255, 0) 100%);
        background: linear-gradient(to bottom, #f8f8fa  0%,rgba(255,255,255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 );
        z-index: 10;
    }
}
