$vertical-gutter: 30px;
$horizontal-gutter: 30px;

.secondary-content {
    box-sizing: border-box;
    display: inline-block;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //flex-wrap: nowrap;
    //flex: 1 50%;
    width: 100%;
    max-width: 50%;
    padding: $vertical-gutter $horizontal-gutter;
}
