.section-text {
    box-sizing: border-box;
    font-family: $font--roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $main-light-grey-color;

    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }
    //
    //@include media-breakpoint-up(xl) {
    //    font-size: 17px;
    //}
}
